In [33]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\redzo\appdata\local\programs\python\python312\lib\site-packages (8.3.0)

In [34]:
import mysql.connector as connector

In [38]:
connection = mysql.connector.connect(
    host="Ridahs-Lenovo",
    user="root",
    password="UnitedUnion2020!",
    database="little_lemon_db")

In [39]:
cursor = connection.cursor()

In [40]:
show_tables_query = "SHOW tables"

In [41]:
cursor.execute(show_tables_query)

In [44]:
tables = cursor.fetchall()

In [47]:
for table in tables:
    print(table)

('bookings',)
('bookingsview',)
('employees',)
('menuitems',)
('menus',)
('orders',)
('ordersview',)

In [50]:
# Define the join query
join_query = """
SELECT 
    bookings.BookingID,
    employees.EmployeeID,
    employees.Name,
    bookings.BookingID,
    bookings.BookingSlot
FROM 
    bookings
JOIN 
    employees ON bookings.EmployeeID = employees.EmployeeID
"""

# Execute the join query
cursor.execute(join_query)

In [51]:
# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

(1, 1, 'Mario Gollini', 1, datetime.timedelta(seconds=68400))
(2, 1, 'Mario Gollini', 2, datetime.timedelta(seconds=68400))
(3, 3, 'Giorgos Dioudis', 3, datetime.timedelta(seconds=54000))
(4, 4, 'Fatma Kaya', 4, datetime.timedelta(seconds=63000))
(5, 2, 'Adrian Gollini', 5, datetime.timedelta(seconds=66600))
(6, 5, 'Elena Salvai', 6, datetime.timedelta(seconds=72000))

In [57]:
cursor.close()

False

In [58]:
connection.close()

In [59]:
cursor.close()
connection.close()